body {
    font-family: Arial, sans-serif;
    background-image: url("./images/Sanback.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.953);
  }
  .container1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  /* Dimmed overlay for background image */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: -1;
  }
 
.navbar {
  overflow: hidden;
}
.navbar a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
  span{
    font-size: 20px;
    color: white;
    text-align: center;
 }

  h{
  text-align: center;
  color: rgba(249, 244, 244, 0.738);
  font-size:25px;
  padding: 20px;
}
  p{
    text-align: center;
    color: rgba(249, 244, 244, 0.738);
    font-size:20px;
 }